*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #e9d6cd;
}
nav{
    background-color: #dfa167;
    display: grid;
    place-items: center;
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 30px;
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in;
    font-size: 25px;
}
nav ul a:hover{
    background-color: rgb(255, 94, 0);
    color: white;
}
.content{
    position: absolute;
    top: 27vh;
    left: 10%;
    width: 33%;
}
.content h1{
    font-size: 60px;
}
hr{
    margin-top: 30px;
    width: 20%;
    height: 6px;
    background: #000;
}
.content p{
    margin-top: 30px;
    font-size: 20px;
}
button{
    margin-top: 20px;
    background: #dfa167;
    border: none;
    outline: none;
    letter-spacing: .04em;
    font-size: 20px;
    padding: 15px 20px;
}
button:hover{
    background-color: rgb(255, 94, 0);
    color: white;
}
img{
    position: absolute;
    bottom: 100px;
    right: 0;
    width: 56%;
    animation: animate 1s ease-in-out;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
